/* CSS Document */
@import url(bootstrap.min.css);
@import url(typography.css);

:root {
    --header-bg-color: #0B3C40;
    --main-bg-color: #694057;
    --footer-bg-color: #0B3C40;
    --light-blue-color: #52C5D5;
    --yellow-color: #FEEC70;
    --pink-color: #DA4899;
    --white-color: #FFFFFF;
    
        /* --bs-breakpoint-xs: 0;
        --bs-breakpoint-sm: 576px;
        --bs-breakpoint-md: 768px;
        --bs-breakpoint-lg: 992px;
        --bs-breakpoint-xl: 1200px;
        --bs-breakpoint-xxl: 1400px; */
}

/* .main { */
body {
    background-color: var(--main-bg-color);
}

.header {
    background-color: var(--header-bg-color);
}

.footer {
    background-color: var(--footer-bg-color);
}

.logo {
    height: 107px;
}

.container {
    max-width: 80%;
}

footer .container {
    max-width: 60%;
}

.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(218,72,153, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    border-color: var(--pink-color);
}

.navbar-toggler {
    border-color: var(--pink-color);
    color: var(--pink-color);
}

.navbar-nav {
    --bs-nav-link-hover-color: var(--light-blue-color);
}

.navbar-brand:focus, .navbar-brand:hover {
    color: var(--light-blue-color);
}

.logo:focus .cls-2, 
.logo:focus .cls-3, 
.logo:focus .cls-5, 
.logo:hover .cls-2,
.logo:hover .cls-3,
.logo:hover .cls-5 {
    fill: var(--pink-color);
}

.logo:focus .cls-4, 
.logo:hover .cls-4 {
    fill: var(--light-blue-color);
}

.logo:focus .cls-1, 
.logo:hover .cls-1 {
    fill: none;
}

.gal-label, .mypok-label {
    border: 1px solid var(--yellow-color);
    border-radius: 10px;
    padding: 0 30px;
 }

.btn {
    background-color: var(--yellow-color);
    border-radius: 10px;
    padding: 0 15px;
    margin-bottom: 15px;
 }

.htp-par, .gal-par, .mypok-par{
    margin-block-end: 0px;
}

.mypok-par {
    margin-bottom: 15px;
}

.pok-bigimg {
    background-color: var(--yellow-color);
}

.pok-bigimg img {
    width: 80%;
    display: block;
    margin: auto;
}

.pok-data {
    background-color: var(--light-blue-color);  
}

.name, .species, .type, .ability {
    background-color: var(--white-color);  
    margin: 30px;
}

.par-data {
    padding: 15px;
}

.col-xl-1-5,
.col-md-1-5,
.col-sm-1-5 {
    position: relative;
 }

.col-xl-1-5,
.col-md-1-5,
.col-sm-1-5 {
    width: 17%;
    float: left;
    background-color: var(--light-blue-color); 
    margin: 20px 35px 0 0;
 }

.caught {
    background-color: var(--yellow-color);
 }

.pok-sm-img {
    position: relative;
    width: 90%;
    display: block;
    margin: auto;
 }

.white-btn {
    position: absolute;
    top: 20px;
    right: -20px;
    width: 25%;
 }

.col-xl-1-5:first,
.col-md-1-5:first,
.col-sm-1-5:first {
margin-left: 0;
 }

 /* tablet */

 @media (max-width:1024px) and (min-width: 431px) {

    .navbar-expand-md .navbar-nav {
        flex-direction: column;
    }

    .col-md-1-5 {
        width: 25%;
        float: left;
        background-color: var(--light-blue-color); 
        margin: 20px;
     }
    
    .pok-sm-img {
        position: relative;
        width: 110%;
        display: block;
        margin: auto;
    }
}

/* mobile */

@media (max-width: 431px) {
    
    .col-sm-1-5 {
        width: 30%;
        float: left;
        background-color: var(--light-blue-color); 
        margin: 20px 35px 0 20px;
     }
    
    .pok-sm-img {
        width: 110%;
    }

    .btn {
        display: grid;
        width: 100%;
        margin: 20px 20px 20px 0;
    }
}

 