@charset "utf-8";

/* @font-face rule */
/* create custom font 'Tw Cen MT' */
@font-face {
    font-family: 'Tw Cen MT';
    src: url('/assets/fonts/tw_cen_mt_regular-webfont.woff2') format('woff2'),
    url('/assets/fonts/tw_cen_mt_regular-webfont.woff') format('woff'),
    url('/assets/fonts/Tw\ Cen\ MT\ Regular.ttf') format('truetype');
}

/* create custom font 'Century Gothic' */
@font-face {
    font-family: 'Century Gothic';
    src: url('/assets/fonts/century_gothic-webfont.woff2') format('woff2'),
    url('/assets/fonts/century_gothic-webfont.woff') format('woff'),
    url('/assets/fonts/Century\ Gothic.ttf') format('truetype');
}

.nav-link {
   font-family: 'Tw Cen MT';
   font-weight: normal;
   font-style: normal;
   font-size: 1.75rem;
   color: var(--pink-color);
   margin-left: 50px;
}

.logo-literal {
   font-family: 'Tw Cen MT';
   font-weight: normal;
   font-style: normal;
   font-size: 2rem;
   color: var(--white-color);
}

.heading-h2 {
   font-family: 'Tw Cen MT';
   font-weight: normal;
   font-style: normal;
   font-size: 2rem;
   color: var(--yellow-color);
}

.htp-par {
   font-family: 'Century Gothic';
   font-weight: normal;
   font-style: normal;
   font-size: 1.25rem;
   color: var(--yellow-color);
}

.label {
   font-family: 'Tw Cen MT';
   font-weight: normal;
   font-style: normal;
   font-size: 1.75rem;
   color: var(--light-blue-color);
}

.parInfo {
   font-family: 'Tw Cen MT';
   font-weight: normal;
   font-style: normal;
   font-size: 1.75rem;
   color: var(--pink-color);
}

.pokname {
   font-family: 'Tw Cen MT';
   font-weight: normal;
   font-style: normal;
   font-size: 1.75rem;
   color: var(--yellow-color);
}

.btn {
   font-family: 'Tw Cen MT';
   font-weight: normal;
   font-style: normal;
   font-size: 1.75rem;
   color: var(--main-bg-color);
}

.footer .nav-link {
   font-size: 1.25rem;
}

.footer-par{
   font-family: 'Tw Cen MT';
   font-weight: normal;
   font-style: normal;
   font-size: 1.25rem;
   color: var(--pink-color);
}

.text-uppercase {
   color: var(--header-bg-color);
}